<div class="main_container">
    <div class="home_container">
        <div class="heading">
            <h1 class="home_title">Welcome to Our Recipe App!</h1>
            <h2 class="home_title_h2">Find recipes for delicious meals</h2>
            <%= link_to 'See recipes', recipe_items_path(), class: "btn_home" %>
        </div>
        <%= image_tag 'bowl.png', class: 'bowl' %>
    </div>
    <%= image_tag 'salad.png', class: 'salad' %>
</div>