/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header-title {
  text-align: center;
}

.form {
  width: 90%;
  margin: 0 auto;
}

.form-submit {
  padding: 3rem 0;
}

input[type='submit'] {
  margin: 0 5%;
}

.recipe-container {
  display: flex;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem 0;
}

.recipe-container div {
  width: 50%;
}

.preparation-toggle {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  margin: 1rem 0;
}

.button_to {
  margin: 0 auto;
}
